.site-header {
  color: #FFF;
  background-color: #2f3241;
  border-bottom: 1px solid #e8e8e8;
  border-bottom-color: #1a1b23;
  -webkit-font-smoothing: antialiased;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

.banner {
  margin-top: 20px;
  line-height: 2;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.container {
  max-width: 1260px;
  line-height: 2;
}

.banner {
  padding-top: 25px;
  float: right;
  margin-top: 0;
  word-spacing: 25px;
}

.logo {
  font-size: 22px;
  margin: 0;
  padding-left: 125px;
}

.container {
  background: #030303;
  padding-left: 15px;
  max-width: 980px;
}

.container a {
  color: #2f3241;
  text-decoration: none;
}

.container a:hover {
  color: aqua;
}/*# sourceMappingURL=nav.css.map */
