* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #767676;
  margin: 0;
}

.search {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 8px;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */
